body {
    margin: 0;
    font-family: Arial;
    background: black;
    color: white;
}

.header {
    text-align: center;
    font-size: 30px;
    padding: 10px;
}

.scoreboard {
    display: grid;
    grid-template-columns: 1fr 300px 1fr;
    height: 90vh;
}

.team {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.score {
    font-size: 100px;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}